/*Header for small news container*/
.small_news_header {                
    height: 10vh;                
    width: 30vw;                
    background-color: white;         
    border: 2px solid black;   
    margin: auto;  
    text-align: center;
    line-height: 10vh;
}

/*Image for small news*/
.small_news_img {
    height: 35vh;
    width: 20vw;
    border: 2px solid black;
    margin: auto;
    display: block;
}

/*Description for small news*/
.small_news_description {
    height: 20vh;
    width: 20vw;
    border: 2px solid black;
    margin: auto;
    background-color: white;
    text-align: center;
}

/*Container for small news*/
.small_news_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}